body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    text-align: center;
}

.logo-box {
    background-color: #eba904;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #858d9e;
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

.login-button {
    padding: 10px 20px;
    background-color: #eba904;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #efba36;
}

.forgot-password {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}